<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Поезд</th>
      <th>Владелец</th>
      <th>Паспорт</th>
      <th>Начальная станция</th>
      <th>Конечная станция</th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>

<%= link_to 'Назад', @user %>
